@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* font family
#003cdb   blue
#0e5d43   dark green
#0e945d   light green
#af4bec   light purple
#9c54f5	  dark purple
font-family: 'Roboto', sans-serif;
*/



/*------------Colours--------------*/

.line-divider {
    color:black!important;
    max-width: 2.6rem;
    border-width: .2rem;
}




/*------------Company logo--------------*/

#logomain {
    width:65px;
    height:65px;
}

/*------------Text--------------*/
.text-style {

    font-family: 'Roboto', sans-serif;
}

.about-header {
    text-align: center;
}

.white-text {
    padding-bottom:10px;
}

.page-text {
    padding-bottom:10px;
    color:red!important;
    text-align:center;

}

.service-text {
    text-align:center;
    font-size: 13px!important;
}

.service-circle {
    font-size: 250px;
    color: #f59393;
    text-align: center;
    width: 100%;
}

.service-icon {
    font-size: 90px;
    left: 0;
    top: 90px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #fafafa;
}

/*------------Navbar--------------*/


.navbar {
         background:rgba(111, 111, 222, 0.3)!important;
         padding-bottom:0;
         padding-top:0;
         text-align:center;
         font-size:16px;
                  }

.nav-link {
        color:#1f2833!important;
        font-size: 2.4vh;
}



/*-----Landing Page Image-----*/
#intro-image {
    background: linear-gradient(to bottom, rgba(136, 136, 136, 0.5) 0%, rgba(73, 65, 59, 0.5) 100%), url("../images/hand2.jpg") no-repeat center 75%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:relative;
    top:0;
    right:0;
    bottom:0;
    left:0;
    filter: grayscale(20%);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}

#landing-text {
    margin: 0px 40px;
    padding-left: 15px;
    color:#fafafa;
    text-shadow: 0.1px 0.8px 0px black;
    text-align: center;
    }

#landing-sub {
    margin:0;
    color:#fafafa;
    font-size:1.6rem;
    padding-top:2rem;
    text-shadow: 0.1px 0.8px 0px black;
    text-align: center;

}

/*-----Landing page about section-----*/

.main-section {
    padding-top:200px;
    padding-bottom:200px;
}

.main-section-about {
    padding-top:200px;
    padding-bottom:200px;
}



/*-----Services Main-----*/
.support-section {
    padding:200px 40px;
}

/*-----Contact Us section-----*/

#contact {
    padding:128px;

}

/*-----Footer-----*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;

}

#footer-details {
    padding: 15px;

}

.social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size:13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background: #8f8f8f;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
}

/*-----About page background------*/
/*- background-color: rgb(101, 92, 86); */
.background-img {
    background: linear-gradient(to bottom, rgba(136, 136, 136, 0.9) 80%, rgba(66, 55, 47, 0.8) 100%), url(../images/book.jpg) no-repeat center 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

/*-----Contact page background------*/
    .earth-mast {
    background: linear-gradient(to bottom, rgba(136, 136, 136, 0.9) 0%, rgba(66, 55, 47, 0.8) 100%), url("../images/map.jpg") no-repeat center 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index:-1;

    }

     #contact-box {
        margin-top:200px;
        margin-bottom:200px;
    }



/*-----Media Queries------*/

@media (min-width: 320px) {
        /* Landing page main text */
        #landing-text {
            font-size:2.5rem;
        }
}